.frame {
  font-family: Microsoft YaHei;
  width: 100%;
  background-color: white;
  padding-bottom: 32px;
  max-width: 1160px;

  .title {
    width: 100%;
    font-size: 60px;
    margin: 24px;
    padding: 24px 0;
    color: black;

    .righttitle {
      font-size: 36px;
      margin-top: 12px;
      margin-left: 42px;
    }

    .line {
      display: none;
    }
  }

  .itemFrame {
    width: 100%;
    margin: 24px 0;

    .item {
      margin: 0 42px;

      .text {
        font-size: 27px;
        color: black;
      }

      .number {
        font-size: 62px;
        color: #c6ac82;
        line-height: 88px;
        margin-top: -16px;
      }

      .imgFrame {
        width: 358px;
        height: 358px;
        background-color: #c6ac82;

        .image {
          width: 348px;
          height: 348px;
        }
      }

      .title2 {
        font-size: 25px;
        color: #112123;
        margin-top: 42px;
      }

      .title3 {
        font-size: 18px;
        margin-top: 16px;
        color: #112123;
      }
    }
  }

  .mobile {
    display: none;
  }
}

@media only screen and(max-width: 800px) {
  .frame {
    width: 100%;
    min-width: 0px;

    .title {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      width: 100%;
      font-size: 20px;
      padding-left: 24px;

      .righttitle {
        margin-top: 0px;
        font-size: 14px;
        margin-left: 0;
      }

      .line {
        display: block;
        width: 60px;
        height: 4px;
        background-color: black;
        margin-top: 6px;
      }
    }

    .itemFrame {
      display: none;
    }

    .mobile {
      display: block;
      width: 100%;
      padding: 0 24px;

      .unit {
      }
    }
  }
}
