.frame {
  width: 100%;
  font-family: Microsoft YaHei;

  .title {
    margin-top: 110px;
    width: 1160px;
    font-size: 60px;
    font-family: Microsoft YaHei;
    color: #c6ac82;

    .smalltitle {
      font-size: 36px;
      margin-top: 8px;
      margin-left: 56px;
    }
  }

  .line {
    background-color: #dcdcdc;
    z-index: 4;
    margin: 50px 0 50px 12px;
    width: 80px;
    color: white;
    height: 3px;
  }
  .content {
    color: #dcdcdc;
    margin-left: 12px;
  }
}
