.frame {
  padding: 32px 0;
  width: 1160px;
  //border: 1px solid black;
  height: 700px;

  font-family: Microsoft YaHei;

  .title {
    margin-top: 80px;
    width: 1160px;
    font-size: 60px;
    font-family: Microsoft YaHei;
    color: black;

    .smalltitle {
      font-size: 36px;
      margin-top: 8px;
      margin-left: 56px;
    }
  }

  .contentframe {
    margin: 120px 0;

    .item {
      margin: 0 12px;
      width: 220px;

      .circle {
        background-color: #19363a;
        color: #c6ac82;
        font-size: 56px;
        padding: 32px;
        border-radius: 100%;
      }

      .title2 {
        font-size: 20px;
        color: #333;
        font-weight: bold;
        font-family: PingFangSC-Semibold, PingFang SC;
        margin: 32px 0;
      }

      .content {
        color: black;
        font-size: 18px;
        font-family: Microsoft YaHei;
        text-align: center;
      }
    }
  }

  .btn {
    background-color: white;
    padding: 6px 24px;
    width: 200px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    border-radius: 8px;
    border: 1px solid #19363a;
    color: #19363a;
  }
}
