.frame {
  padding: 32px 0 64px 0;
  width: 100%;
  //border: 1px solid black;
  max-width: 1160px;
  height: 100%;

  font-family: Microsoft YaHei;

  .cardFrame {
    margin: 42px 0 0 0;

    .itemFrame {
      width: 480px;
      margin: 12px;
      background-color: white;
      padding: 32px 12px;
      border-radius: 8px;

      .img {
        width: 48px;
        height: 48px;
      }

      .title {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        font-family: PingFangSC-Semibold, PingFang SC;
        margin: 32px 0;
      }

      .content {
        font-size: 13px;
        color: gray;
        margin: 0 32px 24px 32px;
        text-align: center;
        line-height: 140%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .frame {
    height: 100%;

    .cardFrame {
      margin: 24px 0 0 0;
      padding: 0;

      .itemFrame {
        width: 90%;
        margin: 12px;
      }
    }
  }
}
